Application {
    taille: 1024x600;
    /* la taille de l'application en définisant largeur et hauteur séparer par 'x' */
    cursor: rond;
    background: red;
}

/*
 Test de la gestion des element en tant qu'objet et leur declaration css
*/
RECTANGLE {
    Background: orange;
}

RECTANGLE.rouge,CARRE.ver {
	Background: red;
}

BOUTON RECTANGLE{
	border: solid 1px;
}
