/*
**********************************************************************
            LIVE THE PONG | Design by jean pasqualini
**********************************************************************
Ce fichier permet de definir le design de mon application appbyphp

Le selecteur application contient toutes les propriete de mon application main

height definie la largeur
width definie la hauteur
cursor permet de definir un curseur externe ou un curseur en ressouce externe precalcule
type le type d'image de sortie de mon application
quality la quality si le type est du jpeg compresser

Les style sont stocké dans $this->css->selecteur objet et/ou calque->propriete=valeur

*/

Application {
    OptimiseRam : false;
    /*
      false : nous travaillons les calque comme a l'habiture , si c'est true alors les calque de
      session application sont travaillé en ram afin de gagner en performance de lecture et ecriture
      /media/LisOptimise  64 mo (mutualise a toutes les session applicative)
    */
    taille: 1024x600;
    /* la taille de l'application en définisant largeur et hauteur séparer par 'x' */
    cursor: rond 0|255|0;
    /* cursor: rond 0|255|0; url(cur.png); */
    SharedCursor : 1;
    /* 1 = Une souris par participant ; 2 = Une souris pour tout les participant en multipoint */
    DefaultStateParticipated: 2;
    /*
       1 = Les participant sont de simple visiteur et n'on aucun controle ;
       2 = Les participant ont le controle de l'application mais avec des droit restraint ;
       3 = Les participant sont comme le proprietaire il ont tous les droits et peuvent hériter du statue proprietaire si celui ci se deconecte
    */
    type: gif;
    quality: 25;
}


button.playlist:out {
    background-color: red;
    size: 1000;
}


button.playlist:hover {
    background-color: black;
}